<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG session Test Automation Suite">

  <test name="Different TestNG Feature Test">
    <classes>
      <class name="com.test.TestA"/>
      <class name="com.test.TestA"/>
      <class name="com.test.TestNGBasic1"/>
      <class name="com.test.TestNGBasics2"/>
      <class name="com.test.TestNGFeature"/>
      <class name="com.test.TimeOut"/>
      <class name="com.test.VerificationInTestng"/>
      <class name="com.test.WebDriverTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
